.buttonDefault {
  padding: .5rem;
  /* width: 2.5rem; */
  /* height: 2.5rem; */

  background-color: #1e293b;
  color: #84cc16;

  border-radius: 0.25rem/* 4px */;

  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .buttonDefault:hover {
    background-color: #064e3b;
  }

  .buttonDefault:hover:hover {
    color: #a7f3d0;
  }
}