@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
  background-color: #07090E;
  color: #94a3b8;
  color: #cbd5e1;
}

.mainBox {
  width: 100%;
  min-height: calc(100vh - 5rem);

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 9rem 0.5rem 4rem;

  position: relative;
}

.sectionFixed {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 99;
  /* padding: 0 .5rem; */
  display: flex;
  background-color: #07090E;
}

.sectionFixed.top {
  flex-direction: column;
  top: 0;
}

.sectionFixed.base {
  height: 3.8rem;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

.sectionMain {
  min-height: calc(100vh - 13.2rem);
  position: relative;
}

.modalCadastro {
  width: 100%;
  padding: 1.5rem/* 20px */;
  border-radius: 0.25rem/* 4px */;
  background-color: #1e293b;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  z-index: 100;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 0;
}

.inputCadastro {
  background-color: transparent;

  outline: 2px solid transparent;
  outline-offset: 2px;

  color: #cbd5e1;
  text-align: center;
  font-weight: 500;
  border: 1px solid #07090E;

  padding: 0 .5rem;
  height: 2.5rem; 
}

.inputCadastro:focus {
  border-color: #84cc16;
  border: 1px solid #84cc16;
}

.inputCadastro::placeholder {
  color: #cbd5e1;
}

option {
  background-color: #475569;
}

.productDescription {
  line-height: .75rem/* 12px */;
}

.productDescription.inCart {
  text-decoration: 1px line-through #cbd5e1 ;
}

/* responsividade */
@media (min-width: 640px) {
  .mainBox {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .mainBox {
    max-width: 768px;
  }

  .sectionFixed {
    padding-left: 8rem /* 128px */;
    padding-right: 8rem /* 128px */;
  }

  .modalCadastro {
    width: 50%/* 832px */;
    border: 1px solid #84cc16;
    border-bottom: 0;
  }

}

@media (min-width: 1024px) {
  .mainBox {
    max-width: 64rem;
  }
}

@media (min-width: 1280px) {
  .mainBox {
    max-width: 70rem;
  }
}

/* scrollBar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #4b545e;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background: #84cc16;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: #77992c;
}
